<h1> <%= @post.title %></h1>
<h1> <%= @post.content %></h1>

<% #build checkbox %>
Categories: <br>
<ul>
  <% @post.categories.each do |c| %>
  <li><%= c.name %></li>
  <% end %>
</ul>

Comments: <br>
<ul>
    <% @post.comments.each do |comment| %>
      <%= comment.user.username %> says: <%= comment.content %>
    <% end %>
</ul>

Users who have commented: <br>
<ul>
  <% @post.users.uniq.each do |user| %>
  <li><%= link_to user.username, user_path(user) %></li>
  <% end %>
</ul>
