<h1> <%= @post.title %></h1>
<h1> <%= @post.content %></h1>

<% #build checkbox %>
Categories: <br>
<ul>
  <% @post.categories.each do |c| %>
  <li><%= c.name %></li>
  <% end %>
</ul>



Comments: <br>

<% #ability to add a comment %>
<%= form_for @comment do |f| %>
  <%= f.text_area :comment %>
  <br>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "Create New" %>
  <br>
  <%= f.fields_for :user_attributes, @comment.user do |user_fields| %>
    <%= user_fields.label :username %>
    <%= user_fields.text_field :username %>
    <% end %>
    <br>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit :content, value: "Create Comment" %>
  <% end %>
  <br>


<ul>
    <% @post.comments.each do |comment| %>
      <%= comment.user.username %> says: <%= comment.content %>
    <% end %>
</ul>

Users who have commented: <br>
<ul>
  <% @post.users.uniq.each do |user| %>
  <li><%= link_to user.username, user_path(user) %></li>
  <% end %>
</ul>
